@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-de-brackground : #2f723e;
    --cor-estrada-tartarugas : #fcff58;
    --cor-estradas : #696666;
    --cor-botao-acelerar: rgb(4, 43, 82);
    --cor-botao-freiar:rgb(226, 80, 80);  
}

.campo_de_fundo {
    background-color: var(--cor-de-brackground);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.titulo {
    color: #c7fa69;
    cursor:default;
    user-select: none;
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
}

.estrada_um {
    width: 100%;
    height: 80px;
    background: var(--cor-estradas);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 10px 10px 10px;
}

.estrada_dois {
    width: 100%;
    height: 80px;
    background: var(--cor-estradas);    
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 10px 10px 10px;
}

.estrada_um, .estrada_dois {
    overflow: hidden;
}

.tartarugas {
    background: repeating-linear-gradient(to right, var(--cor-estrada-tartarugas) 0 20px, transparent 20px 40px);
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 200%;
    height: 10%;
    margin: 37px;
    transform: translateY(-50%)
}

.lista {
    display: flex;
    gap: 50%;
    position: relative;
    list-style: none;
}

.botao_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80%;
}


.botoes {
    background-color: #fcff58;
    border-radius: 10px;
    border: solid 1px;
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

#acelerar {
    background-color: var(--cor-botao-acelerar) ;
    border: solid 1px #6f82f16c;
}

#freiar {
    background-color: var(--cor-botao-freiar);
    border: solid 1px lightcoral;
}

#acelerar:hover {
    background-color: rgb(45, 70, 97);
}

#freiar:hover{
    background-color: crimson;
}



.carro_1 {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    
}

.carro_2 {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    
}
